[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pip = "*"
"flake8" = "*"
pylint = "*"
mypy = "*"
pytest = "*"
rope = "*"

[requires]
python_version = "3.6"
